<html>
	<head>
		<title>About | Blue Whale Study</title>
		<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="css/print.css" type="text/css" media="print">
		<!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="css/bws_meg.css" type="text/css">
		<link rel="stylesheet" href="includes/navstyle.css" type="text/css">
		<script type="text/javascript" src="includes/script.js"></script>
	</head>
	
	
	<body>
	<div class="container main" ><!--main container-->
		
		
			<div class="span-24"><!--header container-->

				<div id="logo_section">
				</div>			
				<div id="logo_small">
					<img src="images/bws_logo_section.jpg">
				</div>		
			</div><!--end of header-->
			
			 
			
			<div class="span-24 navarea"><!--navigation area-->
				
				<div class="span-8">
				&nbsp;
				</div>
				
				<div class="span-16 last" id="navbg"><!--blue nav bar bg etc-->
					
					<div id="nav"><!--top navigation bar-->
						<ul class="menu" id="menu">
							<li><a href="index.html" class="menulink">HOME</a></li>                
					        <li class="menuon">ABOUT</a>
				                <ul>
									<li><a href="about.html">About us</a></li>
									<li><a href="#">What we do</a></li>
									<li><a href="#">Our partners</a></li>
									<li><a href="#">Donations</a></li>
									<li><a href="#">Contact us</a></li>
						        </ul>
						    </li>
						    <li><a href="scholarships/scholarships.html" class="menulink">RESEARCH</a>
					    	  <ul>			
					          <li><a href="#">Methods</a></li>
					          <li><a href="#">Bonney Blue</a></li>
					          <li><a href="#">Articles</a></li>
					          <li><a href="#">Publications</a></li>
					          <li><a href="#">Sightings Archive</a></li>
					          <li><a href="#">Summary of research data</a></li>
					          <li><a href="#">Collaborations</a></li>
					          </ul>
					        </li>
							<li>
								<a href="education/education.html" class="menulink">COMMUNITY</a>
								<ul>
						          <li><a href="#">Latest sightings</a></li>
						          <li><a href="#">Report a sighting</a></li>
						          <li><a href="#">The Blue Blog</a></li>
						          <li><a href="#">Join us</a></li>
						          <li><a href="#">Field trips & workshops</a></li>
						          <li><a href="#">Photo ID catalogue</a></li>
						          <li><a href="#">Games & activities</a></li>
								</ul>
							</li>
							<li>
								<a href="about/about.html" class="menulink">BLUE WHALE INFO</a>
								<ul>
						          <li><a href="#">Quick facts</a></li>
						          <li><a href="#">Long range movements</a></li>
						          <li><a href="#">Foraging & feeding</a></li>
						          <li><a href="#">Blue whale habitat</a></li>
						          <li><a href="#">Blue Whale sounds</a></li>
						          <li><a href="#">Where fo they go?</a></li>
								</ul>
							</li>
				    		<li><a href="scholars/mmscholars.html" class="menulink">GALLERY</a>
				            	<ul>
						 			<li><a href="scholars/current.html">Image collection</a></li>
								</ul>
						    </li>
						</ul>
						<script type="text/javascript">
							var menu=new menu.dd("menu");
							menu.init("menu","menuhover");
						</script>
					</div><!--end of topnav-->
				
				</div><!--end of blue nav bar-->
			</div><!--end of navigation area-->
				 
			<div class="span-24 last" id="mainContent"><!--2col rule etc-->
				<div class="span-24 last subnav">				
					<background img src="images/subnav_bg.gif"/>
					<p id="subnav_items">About us  |  <a href="#">What we do</a>  |  <a href="#">Our partners</a>  |  <a href="#">Donations</a>  |  <a href="#">Contact us</a></p>
				</div><!--end of subnav-->


<!--Content-->
				<div class="span-16" ><!--main content-->
					<div id="mainContent_section">
						<h1>About Us</h1>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc sed felis at odio condimentum bibendum. Vestibulum ipsum. Integer vulputate risus ac enim. Vivamus sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id eros eu diam nonummy tempor. Sed cursus rhoncus magna. Integer lacus lectus, elementum ut, feugiat et, feugiat a, justo. Quisque accumsan pede ut justo. Morbi iaculis. Sed quis justo sit amet mauris tincidunt scelerisque. Aliquam semper dolor ut nisi. Aliquam nec nulla sed justo mollis convallis. Morbi ut neque. Praesent velit. Sed libero pede, hendrerit ac, sagittis non, eleifend in, velit.</p>
						<p>Nunc arcu lorem, egestas ut, volutpat quis, scelerisque id, felis. Maecenas convallis. Pellentesque luctus, enim varius feugiat tincidunt, tellus lectus suscipit mauris, id suscipit arcu turpis quis nisi. Cras non nisl a mi sodales mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Suspendisse potenti. Proin nec velit in elit ultricies hendrerit. Ut pretium justo eu nibh. Quisque justo. Etiam et dui. Nulla ultrices cursus arcu. Mauris eget turpis. Suspendisse potenti. Curabitur a diam.</p>
					</div><!--end of mainContent_section-->
				</div><!--end of main content-->
			
				<div class="span-8 last"><!--right hand column-->
					<div id="right_content"><!--content within right hand column-->
						<div id="promo1"><!--first promo-->
							<p id="rightcol_ttl">LATEST SIGHTINGS</p>
							<img src="images/sightings_1.jpg" class="floatLeft"> 02.03.09<br />Blue whale located at Cape Nelson...
							<p class="link_line"><a href="#"><img src="images/more.png" width="13" height="11" border="0" /> MORE     </a></p>
						</div><!--end of first promo-->
							
						<div class="join_promo">
								Become part of the Blue Whale Study community. Keep in touch with whale activity and contribute too!
							<p class="link_line"><img src="images/more_reverse.gif" width="10" height="10" /><a href="#"> FIND OUT MORE </a> &nbsp;<img src="images/icon_join.gif" alt="Join now" width="10" height="10" /> <a href="#">JOIN NOW</a></p>
						</div><!--end of Join promo-->
							
					</div><!--end of right content-->
				</div><!--end of right col-->
			
			</div><!--end of 2col rule etc-->	
			
			
			
			<div class="span-24 last footer">
				<div class="span-24 last" id="footer_colour">
				
				<!--<img src="images/footer_bg2.png">-->
					<div class="span-8" id="footer_left">Blue Whale Study is a charitable organisation <br />
						© Blue Whale Study 2009
					</div>
					<div class="span-8" id="footer_middle">
						c/- Post Office Narrawong VIC 3285 Australia <br />
					   Ph +61 3 5529 5227   
					</div>
					<div class="span-8 last footer_right">
					
<a href="mailto:enquiry@bluewhalestudy.org" title="mailto:enquiry@bluewhalestudy.org">enquiry@bluewhalestudy.org </a><br />
					Privacy | Terms | 
					
					</div>
				</div><!--end of footer colour-->
			</div><!--end of footer-->
			
	</div><!--end of container-->
		
		
	</body>
</html>