<html>
	<head>
		<title>Welcome to the BlueBlue Whale Study Website</title>
		
		<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="css/print.css" type="text/css" media="print">
		<!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="css/bws_meg.css" type="text/css">
		<link rel="stylesheet" href="includes/navstyle.css" type="text/css">
		<script type="text/javascript" src="includes/script.js"></script>
					
	</head>
	
	<body>
	
		<div class="container main"><!--text align left-->
		
			
			<div class="container"><!--Header-->
				<div id="logo">	<!--waves-->
				</div><!--end of banner-->
				<div id="logo_home">
					<img src="images/bws_logo_home.gif">
				</div><!--end of logo-->
			</div><!--end of header-->
			
			
			<div class="container"id="mainContent_home"><!--3col rule etc-->
			
				<div class="span-24" id="navbg"><!--navigation-->
					
					<div class="span-8">
					&nbsp;
					</div>
						
					<div class="span-16 last" id="nav"><!--Nav bar--><!--middle column-->
						<ul class="menu" id="menu">
							<li><a href="index.html" class="menuon">HOME</a></li>                
					        <li><a href="about.html" class="menulink">ABOUT</a>
				                <ul>
									<li><a href="about.html">About us</a></li>
									<li><a href="#">What we do</a></li>
									<li><a href="#">Our partners</a></li>
									<li><a href="#">Donations</a></li>
									<li><a href="#">Contact us</a></li>
						        </ul>
						    </li>
						    <li><a href="scholarships/scholarships.html" class="menulink">RESEARCH</a>
					    	  <ul>			
					          <li><a href="#">Methods</a></li>
					          <li><a href="#">Bonney Blue</a></li>
					          <li><a href="#">Articles</a></li>
					          <li><a href="#">Publications</a></li>
					          <li><a href="#">Sightings Archive</a></li>
					          <li><a href="#">Summary of research data</a></li>
					          <li><a href="#">Collaborations</a></li>
					          </ul>
					        </li>
							<li>
								<a href="education/education.html" class="menulink">COMMUNITY</a>
								<ul>
						          <li><a href="#">Latest sightings</a></li>
						          <li><a href="#">Report a sighting</a></li>
						          <li><a href="#">The Blue Blog</a></li>
						          <li><a href="#">Join us</a></li>
						          <li><a href="#">Field trips & workshops</a></li>
						          <li><a href="#">Photo ID catalogue</a></li>
						          <li><a href="#">Games & activities</a></li>
								</ul>
							</li>
							<li>
								<a href="about/about.html" class="menulink">BLUE WHALE INFO</a>
								<ul>
						          <li><a href="#">Quick facts</a></li>
						          <li><a href="#">Long range movements</a></li>
						          <li><a href="#">Foraging & feeding</a></li>
						          <li><a href="#">Blue whale habitat</a></li>
						          <li><a href="#">Blue Whale sounds</a></li>
						          <li><a href="#">Where fo they go?</a></li>
								</ul>
							</li>
				    		<li><a href="scholars/mmscholars.html" class="menulink">GALLERY</a>
				            	<ul>
						 			<li><a href="scholars/current.html">Image collection</a></li>
								</ul>
						    </li>
						</ul>
						<script type="text/javascript">
							var menu=new menu.dd("menu");
							menu.init("menu","menuhover");
						</script>
					</div><!--end of nav bar-->
				</div><!--end of navigation-->
			
				<div class="container"><!--main content area-->
					<div class="span-8" id="leftcol_home"><!--left column-->								
					<!--Content block-->
						<div id="left_content">
							<div id="under_logo">
								&nbsp;
							</div>
							<p>Since 1998 the Blue Whale Study has been investigating the ecology of blue whales 	(Balaenoptera musculus), the largest animal on Earth, in their feeding habitat in waters off south-west Victoria and south-east South Australia. The Blue Whale Study, conducted by whale ecologists Dr Peter Gill and Margie Morrice, has unraveled and described the fundamental ecology  underlying the  presence of blue whales in this feeding area.</p>
							<img src="images/map_aust.gif">
						</div><!--end of left content-->
					</div><!--end of left column-->

					<div class="span-8"><!--midcol-->
						<div id="home_midcol">
							<h1>&nbsp;</h1>
							<img src="images/bluewhale_temp.jpg"><br/>
							<p id="floatLeft">
							Find out more about the Blue Whale,<br />
							  Balaenoptera musculus. <a href="#"><img src="images/more.png" alt="" width="13" height="13" border="0" /> MORE </a><br />
							</p><br />
							<br/><br/><img src="images/rubber_ducky.jpg" id="img"><br/>
							<p>Interested in working in a marine research<br />
							environment? Find  out what it’s all about.<br />
							<a href="#"><img src="images/more.png" alt="" width="13" height="13" border="0" /> MORE </a><br />
							<br />
							</p>
						</div>
					</div><!--end of midcol-->
				
					<div class="span-8 last"><!--right column-->
						<div id="right_content"><!--content within right hand column-->
							<div id="promo1"><!--first promo-->
								<p id="rightcol_ttl">LATEST SIGHTINGS</p>
								<img src="images/sightings_1.jpg" id="floatLeft"> 02.03.09<br />Blue whale located at Cape Nelson...
								<p id="link_line"><a href="#"><img src="images/more.png" width="13" height="11" border="0" /> MORE     </a></p>
							</div><!--end of first promo-->
						</div><!--end of right column content-->
					</div><!--end of right column-->
				</div><!--end of main content area-->
			
			</div><!--end of main content 3colrule-->
		
			<div class="span-24 last footer">
				<div class="span-24 last" id="footer_colour">
			
			<!--<img src="images/footer_bg2.png">-->
					<div class="span-8" id="footer_left">Blue Whale Study is a charitable organisation <br />
						© Blue Whale Study 2009
					</div>
					<div class="span-8" id="footer_middle">
						c/- Post Office Narrawong VIC 3285 Australia <br />
					   Ph +61 3 5529 5227   
					</div>
					<div class="span-8 last footer_right">
					<a href="#">enquiry@bluewhalestudy.org </a><br />
					Privacy | Terms | 
					</div>
				</div><!--end of footer-->
			</div>
		</div><!--end of container-->
		
	
	</body>
</html>