.sf-menu {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;

}
.sf-menu * {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
		font-family: Georgia, "Times New Roman", Times, serif;
}
.sf-menu {
	LINE-HEIGHT: .8em;
}
.sf-menu UL {
	POSITION: absolute; WIDTH: 10em; TOP: -999em
}
.sf-menu UL LI {
	WIDTH: 100%
}
.sf-menu LI:hover {
	VISIBILITY: inherit
}
.sf-menu LI {
	POSITION: relative; FLOAT: left
}
.sf-menu A {
	POSITION: relative; DISPLAY: block
}
.sf-menu LI:hover UL {
	Z-INDEX: 99; TOP: 2.5em; LEFT: 0px
}
.sf-menu LI.sfHover UL {
	Z-INDEX: 99; TOP: 2.5em; LEFT: 0px;
	width:
}
UL.sf-menu LI:hover LI UL {
	TOP: -999em
}
UL.sf-menu LI.sfHover LI UL {
	TOP: -999em
}
UL.sf-menu LI LI:hover UL {
	TOP: 0px; LEFT: 10em
}
UL.sf-menu LI LI.sfHover UL {
	TOP: 0px; LEFT: 10em
}
UL.sf-menu LI LI:hover LI UL {
	TOP: -999em
}
UL.sf-menu LI LI.sfHover LI UL {
	TOP: -999em
}
UL.sf-menu LI LI LI:hover UL {
	TOP: 0px; LEFT: 10em
}
UL.sf-menu LI LI LI.sfHover UL {
	TOP: 0px; LEFT: 10em
}
.sf-menu {
	MARGIN-BOTTOM: 1em; FLOAT: left
}
.sf-menu A {
	BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0.75em; PADDING-LEFT: .5em; PADDING-RIGHT: .5em; TEXT-DECORATION: none; PADDING-TOP: 0.75em
}
.sf-menu A {
	COLOR: #fff
}
.sf-menu A:visited {
	COLOR: #fff
}
.sf-menu LI {
	BACKGROUND: #61a8dc
}
.sf-menu LI LI {
	BACKGROUND: #4698c8;
	font-family: Arial, Helvetica, sans-serif;
	width: 20em;
}
.sf-menu LI LI LI {
	BACKGROUND: #9aaedb
}
.sf-menu LI:hover {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; BACKGROUND: #1e3d73
}
.sf-menu LI.sfHover {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; BACKGROUND: #1e3d73
}
.sf-menu A:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; BACKGROUND: #1e3d73
}
.sf-menu A:hover {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; BACKGROUND: #1e3d73
}
.sf-menu A:active {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; BACKGROUND: #1e3d73
}
.sf-menu A.sf-with-ul {
	MIN-WIDTH: 1px; PADDING-RIGHT: 1.75em
}
.sf-sub-indicator {
	POSITION: absolute; TEXT-INDENT: -999em; WIDTH: 10px; DISPLAY: block; BACKGROUND: url(../images/arrows-ffffff.png) no-repeat -10px -100px; HEIGHT: 10px; OVERFLOW: hidden; TOP: 1.05em; RIGHT: 0.5em
}
A > .sf-sub-indicator {
	BACKGROUND-POSITION: 0px -100px; TOP: 0.8em
}
A:focus > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px
}
A:hover > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px
}
A:active > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px
}
LI:hover > A > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px
}
LI.sfHover > A > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px
}
.sf-menu UL .sf-sub-indicator {
	BACKGROUND-POSITION: -10px 0px
}
.sf-menu UL A > .sf-sub-indicator {
	BACKGROUND-POSITION: 0px 0px
}
.sf-menu UL A:focus > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px 0px
}
.sf-menu UL A:hover > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px 0px
}
.sf-menu UL A:active > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px 0px
}
.sf-menu UL LI:hover > A > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px 0px
}
.sf-menu UL LI.sfHover > A > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px 0px
}
.sf-shadow UL {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 0px; PADDING-RIGHT: 8px; BACKGROUND: url(../images/shadow.png) no-repeat right bottom; PADDING-TOP: 0px; -moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -moz-border-radius-bottomleft: 17px; -webkit-border-bottom-left-radius: 17px
}
.sf-shadow UL.sf-shadow-off {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
