.sf-navbar {
	POSITION: relative; PADDING-BOTTOM: 2.5em; BACKGROUND: #bdd2ff; HEIGHT: 12.5em;
	font-family:Arial, Helvetica, sans-serif;
}
.sf-navbar LI {
	POSITION: static; BACKGROUND: #aabde6;
}
.sf-navbar A {
	BORDER-TOP: medium none;
}
.sf-navbar LI UL {
	WIDTH: 44em;
}
.sf-navbar LI LI {
	POSITION: relative; BACKGROUND: #bdd2ff;
}
.sf-navbar LI LI UL {
	WIDTH: 13em;
}
.sf-navbar LI LI LI {
	WIDTH: 100%;
}
.sf-navbar UL LI {
	WIDTH: auto; FLOAT: left;
}
.sf-navbar A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none;
}
.sf-navbar A:visited {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none;
}
.sf-navbar LI.current {
	BACKGROUND: #bdd2ff;
}
.sf-navbar LI:hover {
	BACKGROUND: #bdd2ff;
}
.sf-navbar LI.sfHover {
	BACKGROUND: #bdd2ff;
}
.sf-navbar LI LI.current {
	BACKGROUND: #bdd2ff;
}
.sf-navbar A:focus {
	BACKGROUND: #bdd2ff;
}
.sf-navbar A:hover {
	BACKGROUND: #bdd2ff;
}
.sf-navbar A:active {
	BACKGROUND: #bdd2ff;
}
.sf-navbar UL LI:hover {
	BACKGROUND: #d1dfff;
}
.sf-navbar UL LI.sfHover {
	BACKGROUND: #d1dfff;
}
UL.sf-navbar UL LI:hover LI {
	BACKGROUND: #d1dfff;
}
UL.sf-navbar UL LI.sfHover LI {
	BACKGROUND: #d1dfff;
}
.sf-navbar UL A:focus {
	BACKGROUND: #d1dfff;
}
.sf-navbar UL A:hover {
	BACKGROUND: #d1dfff;
}
.sf-navbar UL A:active {
	BACKGROUND: #d1dfff;
}
UL.sf-navbar LI LI LI:hover {
	BACKGROUND: #e6eeff;
}
UL.sf-navbar LI LI LI.sfHover {
	BACKGROUND: #e6eeff;
}
.sf-navbar LI LI.current LI.current {
	BACKGROUND: #e6eeff;
}
.sf-navbar UL LI LI A:focus {
	BACKGROUND: #e6eeff;
}
.sf-navbar UL LI LI A:hover {
	BACKGROUND: #e6eeff;
}
.sf-navbar UL LI LI A:active {
	BACKGROUND: #e6eeff;
}
UL.sf-navbar .current UL {
	TOP: 2.5em; LEFT: 0px;
}
UL.sf-navbar UL LI:hover UL {
	TOP: 2.5em; LEFT: 0px;
}
UL.sf-navbar UL LI.sfHover UL {
	TOP: 2.5em; LEFT: 0px;
}
UL.sf-navbar .current UL UL {
	TOP: -999em;
}
.sf-navbar LI LI.current > A {
	FONT-WEIGHT: bold;
}
.sf-navbar UL .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px;
}
.sf-navbar UL A > .sf-sub-indicator {
	BACKGROUND-POSITION: 0px -100px;
}
.sf-navbar UL A:focus > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px;
}
.sf-navbar UL A:hover > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px;
}
.sf-navbar UL A:active > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px;
}
.sf-navbar UL LI:hover > A > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px;
}
.sf-navbar UL LI.sfHover > A > .sf-sub-indicator {
	BACKGROUND-POSITION: -10px -100px;
}
.sf-navbar > LI > UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0;
}
