<!DOCTYPE html>
<head>

</head>
<body>
    
<table border="1" cellpadding="5" cellspacing="0">
<tr>
	<th>Force</th>
	<th>Knots</th>
	<th>Sea Term</th>
	<th>Sea Conditions</th>
	<th>On-land Appearance</th>
</tr>
<tr>
	<td>0</td>
	<td>&lt;1</td>
	<td>Calm</td>
	<td>sea like a mirror</td>
	<td>smoke rises vertically</td>
</tr>
<tr>
	<td>1</td>
	<td>1-3</td>
	<td>Light air</td>
	<td>ripples with appearance of scales: no foam crests</td>
	<td>smoke drifts and leaves rustle</td>
</tr>
<tr>
	<td>2</td>
	<td>4-6</td>
	<td>Light breeze</td>
	<td>small wavelets: crests of glassy appearance, not breaking</td>
	<td>wind felt on face</td>
</tr>
<tr>
	<td>3</td>
	<td>7-10</td>
	<td>Gentle breeze</td>
	<td>large wavelets: crests begin to break: scattered whitecaps</td>
	<td>flags extended, leaves move</td>
</tr>
<tr>
	<td>4</td>
	<td>11-16</td>
	<td>Moderate breeze</td>
	<td>small waves, becoming longer: numerous whitecaps</td>
	<td>dust and small branches move</td>
</tr>
<tr>
	<td>5</td>
	<td>17-21</td>
	<td>Fresh breeze</td>
	<td>moderate waves, taking longer form: many whitecaps: some spray</td>
	<td>small trees begin to sway</td>
 </tr>
 <tr>
    <td>6 - 12</td>
    <td>&gt;21</td>
    <td>Strong breeze - hurricane</td>
    <td>large waves, whitecaps everywhere, spray: sea completely white with driving spray and air filled with foam</td>
    <td>large branches move, wires whistle: severe structural damage and widespread devastation</td>
 </tr>
</table>
</body>
</html>